[Unit]
Description=Run manager sync every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=swarm-manager-sync.service

[Install]
WantedBy=timers.target