# COPY THIS TO config.env AND EDIT

MGR1_HOST="mgr-01.lan"
MGR1_IP="192.168.1.0"

LAN_SUBNET="192.168.1.0/24"
VPN_SUBNET="10.8.0.0/24"
ADMIN_IP="192.168.1.50"

NAS_IP="192.168.1.100"

# DO NOT STORE PASSWORDS HERE